[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "excelR"]
	path = excelR
	url = https://github.com/swechhya/excelr
[submodule "shinyanimate"]
	path = shinyanimate
	url = https://github.com/swechhya/shinyanimate
